body {
    color:rgb(100, 159, 247);
    background:rgb(41, 2, 56);
    margin: 8px;
}

header {
    border-bottom:solid 1px rgb(147, 179, 255);
    padding: 8px;
    font-size: 30px;
    color:rgb(147, 179, 255);
    
}

.chamada {
    background:rgb(107, 13, 145);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-family: "Caveat",cursive;
}

.chamada-texto {
    margin-right: 6%;
}

h1 {
    font-size: 38px;
    font-family: "Playwrite GB S", cursive;
}

p {
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
}

.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 6px;
}

.categoria {
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 180px;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 2px solid rgb(93, 112, 221)
}

.categoria h2 {
    color:rgb(147, 179, 255);
}